<!DOCTYPE html>
<html>
<head>
<title>Add Keyword</title>

<script type="text/javascript" src="{{ STATIC_URL }}js/mitoces.js"></script>

</head>


<body class="popup cas_client-keyword change-form">
        
        <h1>Add Keyword</h1>
        <div id="content-main">

<form action="" method="post" id="keyword_form">{% csrf_token %}
<input type="hidden" name="_popup" value="1" />
{{ form.as_ul }}
<input type="submit" name="submit" value="Save Keyword">
</form>

<script type="text/javascript">document.getElementById("id_name").focus();</script>

<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>

</body>
</html>
