{% if modules.count > 0 or outcomes.count > 0 or keywords.count > 0 or users.count > 0 %}
    <li class="nav-header">Modules</li>
    {% if modules.count > 0 %}
        {% for module in modules %}
	        <li><a href="javascript:search('{{module.name}}','module')">{{ module.name }}</a></li>
        {% endfor %}
    {% endif %}

    <li class="divider"></li>
    <li class="nav-header">Outcomes</li>
    {% if outcomes.count > 0 %}
        {% for outcome in outcomes %}
	        <li><a href="javascript:search('{{outcome.name}}','outcome')">{{ outcome.name }}</a></li>
        {% endfor %}
    {% endif %}

    <li class="divider"></li>
    <li class="nav-header">Keywords</li>
    {% if keywords.count > 0 %}
        {% for keyword in keywords %}
	        <li><a href="javascript:search('{{keyword.name}}','keyword')">{{ keyword.name }}</a></li>
        {% endfor %}
    {% endif %}

{% endif %}
