{% extends "index.html" %}

{% block textinfo %}

<h4>{{ focusdepartment }}</h4>
{% if focusdepartment.subjects %}
<ul>
{% for subject in focusdepartment.subjects %}
<li object_type="subject">
    <a href="/subjects/{{ subject.id }}/">{{ subject }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}


{% block js %}

<script>
	var subject_all = "{{ subject_all }}";
	var subject_prereqs = "{{ subject_prereqs }}";
    var subject_ids = "{{ subject_ids }}"
    subject_ids = subject_ids.substr(1,subject_ids.length-2).split(/,/)
	var subjects = parseString(subject_all);
	var subject_prereqs = parseObjects(subject_prereqs);

    var sys = arbor.ParticleSystem(500,500,0.8);
    var theUI;
    sys.parameters({gravity:true});
    sys.renderer = Renderer("#viewport");
    init();
    
    function init(){
        theUI = {"nodes":{},"edges":{}};
        for (var i=0;i<subjects.length;i++){
            addSubject(theUI,subjects[i],parseInt(subject_ids[i]));
            for (var j=0;j<subject_prereqs[subjects[i]].length;j++){
            	addEdge(theUI, subject_prereqs[subjects[i]][j], subjects[i]);
            }
        }
        sys.graft(theUI);
    }

    // on link hover on text side, change color of node in graph
    $('li[object_type="subject"] a').hover(
        function() { // mouseenter
            var name = $(this).text();
            var node = sys.getNode(name);
            sys.tweenNode(node,0.01,{color:"#0066CC"});
        }, function() { // mouseleave
            var name = $(this).text();
            var node = sys.getNode(name);
            sys.tweenNode(node,0.01,{color:"#41A565"});
        }
    );
    
    function addSubject(theUI,name,id){
        theUI["nodes"][name] = {};
        theUI["nodes"][name]["color"]="#41A565";
        theUI["nodes"][name]["shape"]="rectangle";
        theUI["nodes"][name]["type"]="subject";
        theUI["nodes"][name]["label"]=name;
        theUI["nodes"][name]["id"] = id;
    }

    function addEdge(theUI,from,to){
        if (theUI["edges"][from] == undefined){
            theUI["edges"][from] = {};
        }
        theUI["edges"][from][to] = {};
        theUI["edges"][from][to]["length"] = 2;
        theUI["edges"][from][to]["weight"] = 1;
        theUI["edges"][from][to]["color"] = '#000000';
        theUI["edges"][from][to]["directed"] = true;
    }
    
    function parseObjects(string) {
        string = string.replace(/u&#39;/g,'"');
        string = string.replace(/&#39;/g,'"');
        var pattern = new RegExp('u&quot;(.*?)\"(.*?)&quot;','g');
        string = string.replace(pattern,"\"$1\'$2\"");
        var object = JSON.parse(string);
        return object;
    }
    
    function parseString(string){
        string = string.replace(/u&#39;/g,'"');
        string = string.replace(/&#39;/g,'"');
        var pattern = new RegExp('u&quot;(.*?)\"(.*?)&quot;','g');
        string = string.replace(pattern,"\"$1\'$2\"");
        var list = [];
        var index = -1;
        var transcribe = false;
        for (var i=0;i<string.length;i++){
            var count = 1;
            if (string[i]=='"'){ // beginning on new list item
                if (transcribe) {
                    transcribe = false;
                } else {
                    transcribe = true;
                    index = index + 1;
                    list[index] = '';
                }
            }
            if (transcribe && string[i+1]!='"') {
                list[index] += string[i+1];
            }
        }
        return list;
    }
</script>

{% endblock %}

