{% extends "index.html" %}

{% block textinfo %}

<h4 id="header" object_type="module" object_id="{{ focusmodule.id }}" class="edit" title="click to edit">Module: {{ focusmodule }}</h4>
{% csrf_token %}
<p id="description" object_type="module" object_id="{{ focusmodule.id }}" class="edit" title="click to edit">{{ focusmodule.description }}</p>
{% if focusmodule.outcomes.count == 0 %}
<h5>Outcomes:</h5>
<ul class="editing" >
<li>
    <img src="{{ STATIC_URL }}img/greenplus.png" class="add" title="add outcome"> &nbsp; Add outcome
</li>
</ul>
{% else %}
<h5>Outcomes:</h5>
<ul class="editing" >
{% for outcome in focusmodule.outcomes %}
<li object_type="outcome" object_id="{{ outcome.id }}">
    <img src="{{ STATIC_URL }}img/redx.png" class="delete" title="delete"> &nbsp; <a href="/outcomes/{{ outcome.id }}/" title="{{ outcome }}">{{ outcome.description }}</a> 
</li>
{% endfor %}
<li>
    <img src="{{ STATIC_URL }}img/greenplus.png" class="add" title="add outcome"> &nbsp; Add outcome
</li>
</ul>
{% endif %}


<br><h5>This module appears in...</h5>
{% if focusmodule.subjects.count == 0 %}
<ul class="editing">
<li>
    <img src="{{ STATIC_URL }}img/greenplus.png" class="add" title="add subject"> &nbsp; Add subject
</li>
</ul>
{% else %}
<ul class="editing">
    {% for subject in focusmodule.subjects.all %}
<li object_type="subject" object_id="{{ subject.id }}">
    <img src="{{ STATIC_URL }}img/redx.png" class="delete" title="delete"> &nbsp; <a href="/subjects/{{ subject.id }}/">{{ subject }}</a>
</li>
{% endfor %}
<li>
    <img src="{{ STATIC_URL }}img/greenplus.png" class="add" title="add subject"> &nbsp; Add subject
</li>
</ul>
{% endif %}

<br><h5>Instructors:</h5>
<ul class="editing">
{% for instructor in focusmodule.instructors.all %}
<li object_type="instructor" object_id="{{ instructor.id }}">
    <img src="{{ STATIC_URL }}img/redx.png" class="delete" title="delete"> &nbsp; <a href="/users/{{ instructor.id }}/">{{ instructor }}</a>
</li>
{% endfor %}
<li>
    <img src="{{ STATIC_URL }}img/greenplus.png" class="add" title="add instructor"> &nbsp; Add instructor
</li>
</ul>

{% if user in focusmodule.instructors.all %}
<br><button onclick="location.href='/modules/{{ focusmodule.id }}'">done</button>&nbsp;&nbsp;<button class="delete" object_id="{{ focusmodule.id }}">delete module</button>
{% endif %}

{% endblock %}

{% block js %}
 <script src="{{ STATIC_URL }}js/delete.js"></script>
 <script src="{{ STATIC_URL }}js/click_to_edit.js"></script>
{% endblock %}
