<!DOCTYPE html>
	<head>
		<title>MIToces</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		body {
			padding-top: 60px;
		}
		@media (max-width: 979px) {
			body {
				padding-top: 0px;
			}
		}
		.container {
			overflow: visible !important
		}
		</style>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        {% block header %}
        {% endblock %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					</button>

										<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown">MIToces<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/modules/">Modules</a>
							</li>
                            <li>
                                <a href="/outcomes/">Outcomes</a>
                            </li>
                            <li>
                                <a href="/keywords/">Keywords</a>
                            </li>
							<li>
								<a href="/users/">Users</a>
							</li>
						</ul>
					

							</li>
							{% block topnav %}
							<li class="active">
								<a href="/">home</a>
							</li>
							<li>
								<a href="/explore/">explore</a>
							</li>
							<li>
								<a href="/module/add">create</a>
							</li>
							{% endblock %}
							<li class="dropdown pull-right">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/user/profile/edit/">Edit Profile</a>
								</li>
								<li>
									<a href="/cas-test/logout/">Logout</a>
								</li>
							</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
<div class="dropdown">
{% csrf_token %}
<input class="dropdown-toggle" data-toggle="dropdown" type="text" id="search" name="search" width="400"/>

<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="search-results">
</ul>
</div>

			{% block content %}
			
				<h1>New Modules</h1>
				{% if latest_module_list %}
					<ul>
						{% for module in latest_module_list %}	
						<li><a href="/modules/{{ module.id }}/">{{ module.name }}</a> created by <a href="/users/{{ module.creator.id }}">{{ module.creator.first_name }} {{module.creator.last_name }}</a> on {{ module.date }}</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>No new modules created.</p>
				{% endif %}

				<h1>My Modules</h1>
				{% if user_module_list %}
					<ul>
						{% for module in user_module_list %}
						<li><a href="/modules/{{ module.id }}/">{{ module.name }}</a> created by <a href="/users/{{ module.creator.id }}">{{ module.creator.first_name }} {{ module.creator.last_name }}</a> on {{ module.date }}</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>You have not created any new modules.</p>
				{% endif %}				

			{% endblock %}
		</div>
	<script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
	<script src="{{ STATIC_URL }}js/mitoces.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
	</body>
</html>
