{% extends "index.html" %}

{% block textinfo %}

<h4>Module: {{ focusmodule }}</h4>
{% if focusmodule.outcomes %}
<h5>Outcomes:</h5>
<ul>
{% for outcome in focusmodule.outcomes %}
<li>
    <a href="/outcomes/{{ outcome.id }}/" title="{{ outcome }}">{{ outcome.description }}</a>
</li>
{% endfor %}
</ul>
{% endif %}


<br><h5>This module appears in...</h5>
{% if focusmodule.subjects %}
<ul>
    {% for subject in focusmodule.subjects.all %}
<li>
    <a href="/subjects/{{ subject.id }}/">{{ subject }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

<br><h5>Instructors:</h5>
<ul>
{% for instructor in focusmodule.instructors.all %}
<li>
    <a href="/users/{{ instructor.id }}/">{{ instructor }}</a>
</li>
{% endfor %}
</ul>

{% if user in focusmodule.instructors.all %}
<br><button class="edit_button" onclick="location.href='/modules/{{ focusmodule.id }}/edit/';">edit module</button>
{% endif %}

{% endblock %}
