{% extends "index.html" %}


{% block topnav %}

<li>
<a href="/">home</a>
</li>
<li>
<a href="/explore">explore</a>
</li>
<li>
<a href="/module/add/">create</a>
</li>

{% endblock %}


{% block content %}

<h1 id="module_name">{{ module.name }}</h1>
<h3>This module is intended to teach and/or assess the ability to:</h3>

<ul>
{% for outcome in module.outcomes.all %}
	<li>
	{{ outcome.description }}
	</li>
{% endfor %}
</ul>

<iframe src="{{ module.link }}" id="module_iframe" width="100%" height="600"></iframe>

<p>
{% for keyword in module.keywords.all %}
	<button type="button" onclick="window.location.href='/keywords/{{ keyword.id }}'">{{ keyword.name }}</button>
{% endfor %}
</p>

{% if module.creator == user %}
{% csrf_token %}
<p>
   <button type="button" onclick="window.location.href='/module/edit/{{ module.id }}'">Edit Module</button> &nbsp; <button type="button"  id="delete_module_{{ module.id }}">Delete Module</button>
</p>
{% endif %}

{% endblock %}
